@page "/"

@namespace Chipper.Server
@using Bolero.Server.RazorHost

@inject IBoleroHostConfig BoleroHostConfig

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Chipper</title>

    <base href="/">

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/index.css">
</head>

<body>
    <div id="main">@(await this.Html.RenderComponentAsync<Chipper.Client.App>(this.BoleroHostConfig))</div>
    @this.Html.RenderBoleroScript(this.BoleroHostConfig)

    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
